<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header>
        <div class="header-top">

            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado-Liebre">
            </div>
            
                <form action="/" method="get" class="search-bar">
                        <input type="text" name="" id="" placeholder="Buscar productos, marcas y mas">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

            <div class="cuotas-credito">

                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de credito</p>

            </div>

        </div>

        <nav>

            <div class="nav-bar">

                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>

            </div>

            <div class="login-bar">

                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>

            </div>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <img class="logo-centro" src="images/img-home-banner.jpg" alt="Logo home banner">

    <main>

        <section>
            <div class="seccion-ultima-visita">
                <h2>Basado en la ultima visita</h2>
            </div>

            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="info">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">Cafetera Moulinex</b>
                    </div>
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="info">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">MacBook Pro 2019</b>
                    </div>
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="info">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">Samsung Galaxy S10</b>
                    </div>
                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="info">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">SmartTv Samsung 43"</b>
                    </div>
                </article>
            </div>

        </section>

        <section>
            <div class="seccion-ofertas">
                <h2>Ofertas</h2>
            </div>

            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="info">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">Cafetera Moulinex</b>
                    </div>
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="info">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">MacBook Pro 2019</b>
                    </div>
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="info">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">Samsung Galaxy S10</b>
                    </div>
                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="info">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <i class="fa-solid fa-truck"></i>
                        <b class="descripcion">SmartTv Samsung 43"</b>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>

        <section>
            <i class="fa-solid fa-credit-card"></i>
            <br>
            <b>Pago con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift"></i>
            <br>
            <b>Envío gratis desde $ 2.500o</b>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <br>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>

</body>

</html>